In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:\Downloads\spotify_millsongdata.csv\spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Blur,Uncle Love,Uncle Love just got a message from God \r\nTh...
1,Robbie Williams,Mr. Bojangles,I knew a man Bojangles \r\nAnd he'd dance for...
2,Justin Timberlake,Breath,[Chorus:] (Nelly Furtado) \r\nI'm alive I can...
3,John Martyn,Can't Turn Back The Years,\r\nNever gonna give it up never gonnna it u...
4,Weird Al Yankovic,Buy Me A Condo,Gonna buy me a condo \r\nGonna buy me a Cuisi...
5,Imperials,Whenever I Speak His Name,All around there's hurried confusion \r\nThe ...
6,Rihanna,Te Amo,"Te amo, te amo, she say's to me. \r\nI hear t..."
7,Doobie Brothers,Can't Stand To Lose,If you can't stand to lose \r\nDon't stand in...
8,Usher,Hottest Thing,I've been looking at you \r\nTurning brothers...
9,Nightwish,Eva,"6:30 winter morn \r\nSnow keeps falling, sile..."

In [9]:
df['text'][0]

"Uncle Love just got a message from God  \r\nThat you are driving him crazy  \r\nTomorrow he says the doctor comes  \r\nWith a drink to make him lazy  \r\n  \r\nDid you realize that Uncle Love's  \r\nGot an eight ball in his hand  \r\nEverything sticks to you like glue  \r\nBut it just makes you lazy  \r\n  \r\nYou should hear what they say  \r\nAbout you everyday  \r\nYou should hear what they say  \r\nUncle Love's going to get you  \r\n  \r\nUncle Love just got a message from God  \r\nThat you are driving him crazy  \r\nEverything sticks to you like glue  \r\nBut it just makes you lazy  \r\n  \r\nYou should hear what they say  \r\nAbout you everyday  \r\nYou should hear what they say  \r\nUncle Love's going to get you\r\n\r\n"

In [10]:
df.shape

(5000, 3)

# Text cleaning/text preprocessing

In [11]:
df['text']=df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True)

In [12]:
df.tail(5)

,artist,song,text
4995,Boney M.,Little Drummer Boy,"come, they told me pa-rum pum pum pum \r our ..."
4996,Matt Monro,Exodus,"this land is mine, god gave this land to me \..."
4997,Paul McCartney,Back In The Sunshine Again,"here we are, \r back in the sunshine again \..."
4998,Ozzy Osbourne,Pantomime,they feel they've raised her \r the new queen...
4999,John Mellencamp,Peppermint Twist,well they've got a new dance and it goes like ...

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer

In [14]:
stemmer=PorterStemmer()

In [15]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [16]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [17]:
df['text'].apply(lambda x: token(x))

0       uncl love just got a messag from god that you ...
1       i knew a man bojangl and he 'd danc for you in...
2       [ choru : ] ( nelli furtado ) i 'm aliv i can ...
3       never gon na give it up never gonnna it up nev...
4       gon na buy me a condo gon na buy me a cuisinar...
                              ...
4995    come , they told me pa-rum pum pum pum our new...
4996    thi land is mine , god gave thi land to me thi...
4997    here we are , back in the sunshin again no mor...
4998    they feel they 've rais her the new queen of e...
4999    well they 've got a new danc and it goe like t...
Name: text, Length: 5000, dtype: object

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
tfid=TfidfVectorizer(analyzer='word',stop_words='english')

In [20]:
matrix=tfid.fit_transform(df['text'])

In [21]:
matrix

<5000x23906 sparse matrix of type '<class 'numpy.float64'>'
	with 271587 stored elements in Compressed Sparse Row format>

In [22]:
similer=cosine_similarity(matrix)

In [25]:
similer[1]

array([0.00565077, 1.        , 0.00246529, ..., 0.0172332 , 0.00186798,
       0.03247878])

In [38]:
df.head(5000)

,artist,song,text
0,Blur,Uncle Love,uncle love just got a message from god \r tha...
1,Robbie Williams,Mr. Bojangles,i knew a man bojangles \r and he'd dance for ...
2,Justin Timberlake,Breath,[chorus:] (nelly furtado) \r i'm alive i can ...
3,John Martyn,Can't Turn Back The Years,\r never gonna give it up never gonnna it up...
4,Weird Al Yankovic,Buy Me A Condo,gonna buy me a condo \r gonna buy me a cuisin...
...,...,...,...
4995,Boney M.,Little Drummer Boy,"come, they told me pa-rum pum pum pum \r our ..."
4996,Matt Monro,Exodus,"this land is mine, god gave this land to me \..."
4997,Paul McCartney,Back In The Sunshine Again,"here we are, \r back in the sunshine again \..."
4998,Ozzy Osbourne,Pantomime,they feel they've raised her \r the new queen...
4999,John Mellencamp,Peppermint Twist,well they've got a new dance and it goes like ...

In [39]:
df[df['song']=='Pantomime'].index[0]

4998

# Recommender Function

In [40]:
def recommender(song_name):
    idx=df[df['song']==song_name].index[0]
    distance=sorted(list(enumerate(similer[idx])), reverse=True, key=lambda x:x[1])
    song=[]
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [43]:
recommender("Little Drummer Boy")

['The Little Drummer Boy',
 'Little Drummer Boy',
 "'Pag Puso'y Nakialam",
 "Sa'yo",
 'Minamahal Pala Kita',
 'Ikaw Lamang',
 'Takin My Love',
 'Buti Na Lang',
 'Exodus',
 'I Found Out',
 "What'd I Say",
 "Grandma's Feather Bed",
 'Banana Republics',
 'Joey In Mind',
 'Kisapmata',
 'Lucky Man',
 'Sunday Afternoon',
 'Jiving Sister Fanny',
 'Simple Lang',
 'Ikaw Ang Aking Mahal']

In [35]:
import pickle

In [36]:
pickle.dump(similer, open("similarity","wb"))

In [37]:
pickle.dump(df, open("df","wb"))